@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@400;600;700;800&family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "GraphikRegular";
  src: url(../fonts/GraphikRegular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GraphikBold";
  src: url("../fonts/GraphikBold.otf") format(truetype);
  font-style: bold;
  font-weight: 700;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: #181818;
  color: #fff;
}

.wrapper {
  min-height: 100%;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.page {
  padding: 90px 0px 30px 0px;
}
.page__section {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.page__section_1 {
  background-color: #794f45;
}
.page__section_2 {
  background-color: #77608d;
}
.page__section_3 {
  background-color: #7a956b;
}
.page__title {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}
.page__sub-title {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}
.page__text {
  font-size: 16px;
  line-height: 150%;
}
.page__text p {
  margin: 0px 0px 20px 0px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #912105;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 100;
}
.menu {
  display: flex;
  justify-content: end;
}
.menu__icon {
  display: none;
}
.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: #fff;
  font-size: 18px;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: -4px;
  background-color: #181818;
  padding: 15px;
  min-width: 200px;
  border-radius: 7px;
  border: 2px dashed #6b1a06;
}
.menu__sub-list li {
  padding: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #fff;
  font-size: 16px;
}
.menu__sub-link:hover {
  text-decoration: underline;
}

body._pc .menu__list .menu__li_up {
  transform: translate(0px, -4px);
  transition: all 0.4s ease 0s;
}
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.4s ease 0s;
  }
}
@media (max-width: 768px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #912105;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    background-color: #fff;
    margin: 17px 0px 0px 0px;
    transform: translate(0px, 10%);
    transition: all 0.4s ease 0s;
  }
  .menu__sub-list:not(._active) {
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}

/*# sourceMappingURL=main.css.map */
