@import 'reset_new';
@import 'fonts';
body{
	font-family:$nunito_font ;
	font-weight: 600;
	font-size: 24px;
	background-color: #181818;
	color: #fff;

}

.wrapper {
	min-height: 100%;
}
body._lock{
	overflow: hidden;
}

.container {
	max-width: 1000px;
	margin: 0 auto;

}

.page{
	padding: 90px 0px 30px 0px;
	&__section{
		padding: 30px;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__section_1{
		background-color: #794f45;
	}
	&__section_2{
		background-color: #77608d;
	}
	&__section_3{
		background-color: #7a956b;
	}
	&__title{
		font-size: 40px;
		margin: 0px 0px 20px 0px;
	}
	&__sub-title{
		font-size: 30px;
		margin: 0px 0px 20px 0px;
	}
	&__text{
		font-size: 16px;
		line-height: 150%;

		p {
			margin: 0px 0px 20px 0px;
		}
	}
}

// nav

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #912105;
	&__container{
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		padding: 0px 30px;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
	}
	&__logo{
		border-radius: 50%;
		background-color: #fff;
		position: relative;
		width: 40px;
		height: 40px;
		z-index: 100;
	}
	&__menu{}
}

.menu{
	display: flex;
	justify-content: end;
	&__icon{
		display: none;
	}
	&__body{}
	&__list{
		& > li {
			position: relative;
			margin: 0px 0px 0px 20px;
		}
	}
	&__link{
		color: #fff;
		font-size: 18px;
		&:hover {
			text-decoration: underline;
		}
	}
	&__sub-list{
		position: absolute;
		top: 100%;
		right: -4px;
		background-color: #181818;
		padding: 15px;
		min-width: 200px;
		border-radius: 7px;
		border: 2px dashed #6b1a06;

		li { 
			padding: 0px 0px 10px 0px;
		}
		li:last-child {
			margin: 0;
		}

	}
	&__sub-link{
		color: #fff;
		font-size: 16px;

		&:hover {
			text-decoration: underline;
		}
	}
}
// -------------------------
body._pc {
	.menu__list{
		.menu__li_up {
			transform: translate(0px, -4px);
			transition: all 0.4s ease 0s;
		}
		& > li:hover {
			
			.menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: translate(0px, 0px);
				pointer-events: all;
			}
		}
		
	}
	
}


// -------------------------
@media (min-width: 767px) {
	.menu{
		&__icon{}
		&__body{}
		&__list{
			display: flex;
			align-items: center;
			& > li {
				padding: 10px 0;
			}
		}
		&__link{}
		&__sub-list{
			transform: translate(0px, 10%);
			opacity: 0;
			visibility: hidden;
			pointer-events:none;
			transition: all 0.4s ease 0s;
		}
		&__sub-link{}
	}
}

@media (max-width: 768px) {
	.menu{
		&__icon {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;

			span, &::before, &::after {
				position: absolute;
				left: 0;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}
			&::before, 
			&::after{
				content: "";
			}
			&::before {
				top: 0;
			}
			&::after{
				bottom: 0;
			}
			span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
			&._active{
				span{
					transform: scale(0) translate(0px, -50%);
				}
				&::before{
					top: 50%;
					transform: rotate(45deg) translate(0px, -50%);
				}
				&::after{
					bottom: 50%;
					transform: rotate(-45deg) translate(0px, 50%);
				}
			}
		}
		
	}
	.menu {
		&__body {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.9);
			padding: 100px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			overflow: auto;

			&::before{
				content: "";
				position: fixed;
				width: 100%;
				top:0;
				left:0;
				height: 70px;
				background-color: #912105;
				z-index: 2;
			}
		}
		&__body._active{
			left: 0
		}
		&__list > li{
			margin: 0px 0px 30px 0px;
		}
		&__list > li:last-child {
			margin: 0;
		}
		&__link {
			font-size: 24px;
		}
		&__sub-list {
			position: relative;
			flex: 1 1 100%;
			background-color: #fff;
			margin: 17px 0px 0px 0px;
			transform: translate(0px, 10%);
			transition: all 0.4s ease 0s;
			&:not(._active) { display: none }
		}
		&__sub-link {
			font-size: 20px;
			color: #000;
		}
	}
}


	